# Python venv
.venv/
__pycache__/
*.pyc
*.pyo

# Ansible
*.retry
.ansible/
.cache/
.collections/

# Vault password files (jamais commit)
vault-pass*
.vault-pass*
.vault_pass*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# OS / temp
*.tmp
*.bak

# Logs locaux
*.log
